@charset "utf-8";

@font-face {
font-family: 'Pretendard';
src: url('/font/Pretendard/Pretendard-Regular.woff2') format('woff2');
font-weight: 400;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Pretendard';
src: url('/font/Pretendard/Pretendard-Bold.woff2') format('woff2');
font-weight: 700;
font-style: normal;
font-display: swap;
}
/*노말라이즈*/
body {
font-family: 'Pretendard', sans-serif;
font-weight: 700;
background-color: #000;
min-height:100%;
 margin: 0 auto;
 -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
 
* {
padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
color: inherit;
}
/*라이브러리*/
.bg-red{
background-color: red;
}
.bg-blue{
background-color: blue;
}
.bg-green{
background-color: green;
}
.bg-gold{
background-color: gold;
}
.custom-cursor {
width: 20px;
height: 20px;
background-color: rgba(100, 121, 246,0.8);
border-radius: 50%;
position: fixed;
pointer-events: none;
transform: translate(-50%, -50%);
transition: transform 0.1s ease;
z-index: 9999;
}

.section{
width:100%;
margin: 0 auto;
}
.main-wrap{
  width:100%;
 margin: 0 auto; 
}
.loader{
position: fixed;
z-index: 10;
left:30px;
bottom:20px;
}
.loader img {
width: 80px;
height: 80px;
animation: spin 10s linear infinite;
}

@keyframes spin {
0%   { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

@media (1025px > width){
  .custom-cursor{
    display: none;
  }
  .loader{
    display: none;
  }
}
/*구현 시작*/
/*메뉴 구현*/
.menu-wrap{
position: fixed;
z-index: 10;
background-color: #f5f5f5;
height: 100vh;
width:0;
right:0%;
display: flex;
overflow: hidden;
transition: all .5s;
}
.menu-wrap.active{
 width:300px;
}
@media (481px> width){
  .menu-wrap.active{
 width:100%;
}
}
.menu-box{
width:100%;
padding-top:90px;
}
.menu{
position: relative;
}
.menu > li{
border-bottom:1px solid #e2e2e2;
justify-content: space-between;
position: relative;
}
.menu > li > div{
padding : 20px 10px;
display: flex;
justify-content: space-between;
}
.menu > li > div > span{
font-size: 1.1rem;
cursor: pointer;
display: inline-block;
white-space: nowrap;
}
.menu > li:first-child.active> .sub-menu, .menu > li:nth-child(2).active> .sub-menu{
height:163px;
}
.menu > li:nth-child(3).active> .sub-menu, .menu > li:nth-child(4).active> .sub-menu{
height:81px;
}
.menu > li:nth-child(5).active> .sub-menu, .menu > li:nth-child(6).active> .sub-menu{
height:122px;
}
.sub-menu {
height: 0;
width:100%;
flex-direction: column;
justify-content: center;
top:100%;
left:0;
background-color: #e2e2e2;
transition: all .5s;
overflow: hidden;
}
.sub-menu > li{
font-size: 1rem;
font-weight: 500;
color:#545454;
padding:10px 10px;
}
.sub-menu > li:hover{
color:#6479f6;
}

/*탑바*/
.top-bar{
position: fixed;
z-index: 10;
width:100%;
height: 80px;
display: flex;
justify-content: space-between;
left:50%;
transform: translateX(-50%);
padding: 0 10px;
}
.top-bar-logo-box{
display: flex;
height: 100%;
width:180px;
justify-content: center;
align-items: center;
}
.top-bar-logo-box>.logo{
height: 60px;
width: 100%;
}
.top-bar-logo-box >.logo >img{
height: 100%;
width: 100%;
object-fit: contain;
}
.top-bar-menu-box{
width:80px;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.top-bar-menu-btn{
height: 40px;
width: 38px;
cursor: pointer;
position: relative;
z-index: 100;

}
.top-bar-menu-btn::before{
content: "";
height: 7px;
width: 53px;
background-color: #fff;
display: inline-block;
position: absolute;
top:20%;
left:50%;
transform: translateX(-50%);
transition: all .5s;
}
.top-bar-menu-btn::after{
content: "";
height: 7px;
width: 53px;
background-color: #fff;
display: inline-block;
position: absolute;
bottom:20%;
left:50%;
transform: translateX(-50%);
transition: all .5s;
}
.top-bar-menu-btn.active::before{
transform-origin: 4px -23px;
transform: rotate(45deg);
background-color: #000;
}
.top-bar-menu-btn.active::after{
transform-origin: 2px 30px;
transform: rotate(-45deg);
background-color: #000;
}
/*섹션 1 구현*/
.section-1{
height: 100vh;
overflow: hidden;
position: relative;
}
.section-1 > video{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
min-width: 100%;
min-height: 100%;
object-fit: cover;
z-index: -1;
}
.section-1 > .video-background{
background-color: rgba(0,0,0,0.4);
height: 100%;
width:100%;
}
.section-1 > .video-title{
position: absolute;
width:800px;
font-size: 3rem;
color:#fff;
top:43%;
left:50%;
transform: translate(-50%,-50%);
text-shadow: 4px 4px 4px rgba(0,0,0,0.7);
text-align: center;;
cursor: default;
}
.section-1 > .video-sub-title{
position: absolute;
width:800px;
font-size: 1.4rem;
font-weight: 400;
color:#fff;
top:57%;
left:50%;
transform: translate(-50%,-50%);
text-shadow: 4px 4px 4px rgba(0,0,0,0.7);
text-align: center;;
cursor: default;
}
.typing {
width: 0;
overflow: hidden;
white-space: nowrap;
border-right: 2px solid #fff;
animation: typing 7s steps(25, end) forwards,
          blink-caret 0.75s step-end infinite;
animation-iteration-count: infinite;
animation-delay: 0s, 10s; /* 첫 애니메이션 끝난 후 깜빡임 시작 */
animation-direction: normal;
animation-fill-mode: forwards;
}

@keyframes typing {
0% {
width: 0;
}
40% {
width: 25ch; /* 타이핑 글자 수 만큼 */
}
100% {
width: 25ch; /* 멈춤 상태 유지 */
}
}

@keyframes blink-caret {
50% {
border-color: transparent;
}
100% {
border-color: #fff;
}
}

@media (1200px > width > 767px) {
.section-1 > .video-title{
  font-size: 2.2rem;
}
.section-1 > .video-sub-title{
  font-size: 1.2rem;
  margin-top: -10px;
}
}
@media (768px > width > 480px) {
.section-1 > .video-title{
  font-size: 2rem;
}
.section-1 > .video-sub-title{
  font-size: 1.2rem;
  margin-top: -30px;
}
}
@media (481px > width) {
  .section-1 > .video-title{
  font-size: 1.5rem;
}
.section-1 > .video-sub-title{
  font-size: 1rem;
  margin-top: -30px;
}
}
/*메인페이지 2*/
.solution-wrap{
height:100%;
width:100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.solution-title-wrap{
height: 300px;
width:100%;
position: relative;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}
.solution-title {
position: absolute;
display: flex;
justify-content: center;
width:100%;
align-items: center;
top:-10%;
margin-top:100px;
transition: all .8s;
opacity: 0;
}
.solution-title.active{
top:30%;
opacity: 1;
}
.solution-title > p{
font-size: 2.5rem;;
color:#fff;
padding: 0 10px;
}
.solution-box {
  height: 400vh;
  position: relative;
}
.card {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-inner {
  width: 1100px;
  height: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid #545454;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  opacity: 0;
transform: scale(0.95);
transition: opacity 0.6s ease, transform 0.6s ease;
position: relative;
}
.card.visible .card-inner {
opacity: 1;
transform: scale(1);
}
.card:nth-child(1) {
  z-index: 1;
}
.card:nth-child(2) {
  z-index: 2;
}
.card:nth-child(3) {
  z-index: 3;
}
.card-inner > img{
  height:100%;
  width: 100%;
}
.card:nth-child(1)>.card-inner::before{
  content:"An hour’s work, done in just 3 minutes.";
  font-size: 2.7rem;
  width:800px;
  color:#fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.7);
}
    .card:nth-child(1)>.card-inner::after{
  content:"AIVance는 반복적인 문서 작업을 AI가 대신합니다. \A PDF에서 필요한 정보를 추출하고, 엑셀로 자동 정리해주며, 리포트는 미리 설정된 템플릿에 맞춰 완성됩니다.";
  white-space:pre;
  font-size: 1.2rem;
  width:800px;
  color:#fff;
  line-height: 30px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top:80%;
}
.card:nth-child(2)>.card-inner::before{
  content:"Delight customers. Empower teams.";
  font-size: 2.7rem;
  width:800px;
  color:#fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}
    .card:nth-child(2)>.card-inner::after{
  content:"AIVance는 고객 요청, 이메일, 채팅 데이터를 실시간으로 분류하고 우선순위를 자동 지정합니다. \A 단순 반복 응답은 챗봇과 연동되고, 담당자에게 필요한 건 자동으로 할당됩니다.";
  white-space:pre;
  font-size: 1.2rem;
  width:800px;
  color:#fff;
  line-height: 30px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top:80%;
}
    .card:nth-child(2)>.card-inner::before, .card:nth-child(2)>.card-inner::after{
  opacity: 0;
  transition: opacity .7s;
}
.card:nth-child(2)>.card-inner.active::before, .card:nth-child(2)>.card-inner.active::after{
  opacity: 1;
}
.card:nth-child(3)>.card-inner::before{
  content:"Save time. Report accurately.";
  font-size: 2.7rem;
  width:800px;
  color:#fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.7);
}
    .card:nth-child(3)>.card-inner::after{
  content:"AIVance는 다양한 사내 시스템과 연동되어 데이터를 자동 수집하고, 시각화된 리포트를 생성합니다. \A매일 아침 대시보드에 자동으로 최신 데이터가 반영됩니다.";
  white-space:pre;
  font-size: 1.2rem;
  width:800px;
  color:#fff;
  line-height: 30px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top:80%;
}
    .card:nth-child(3)>.card-inner::before, .card:nth-child(3)>.card-inner::after{
    opacity: 0;
  transition: opacity .7s;
}
.card:nth-child(3)>.card-inner.active::before,.card:nth-child(3)>.card-inner.active::after{
    opacity: 1;
}

@media (1200px > width > 767px) {
.solution-title > p{
  font-size: 1.8rem;
}
.solution-title > img{
  width:200px;
  height: 50px;
  object-fit: contain;
}
.card-inner{
  width:700px;
}
.card:nth-child(n+1)>.card-inner::before{
font-size: 2.2rem;
}
.card:nth-child(n+1)>.card-inner::after{
font-size: 1rem;
}
}
@media (768px > width > 480px) {
.solution-title > p{
  font-size: 1.3rem;
}
.solution-title > img{
  width:150px;
  height: 50px;
  object-fit: contain;
}
.card-inner{
  width:450px;
}
.card:nth-child(n+1)>.card-inner::before{
font-size: 1.3rem;
}
.card:nth-child(n+1)>.card-inner::after{
font-size: 0.6rem;
}
}
@media (481px > width){
  .solution-title {
    flex-direction: column;
  }
  .solution-title > p{
  font-size: 1.4rem;
}
.solution-title > img{
  width:150px;
  height: 50px;
  object-fit: contain;
}
.card-inner{
  width:350px;
}
.card:nth-child(1)>.card-inner::before{
  content:"An hour’s work, \A done in just 3 minutes.";
  white-space:pre;
  font-size: 1.7rem;
  text-align: center;
  width:350px;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.7);
}
    .card:nth-child(1)>.card-inner::after{
  content:"반복적인 문서 작업을 AI가 대신합니다. \A PDF에서 필요한 정보를 추출하고, 엑셀로 자동 정리해주며, \A 리포트는 미리 설정된 템플릿에 맞춰 완성됩니다.";
  white-space:pre;
  font-size: 0.8rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  font-weight: 100;
   width:350px;
  top:65%;
}
.card:nth-child(2)>.card-inner::before{
  content:"Delight customers.\A Empower teams.";
   white-space:pre;
  font-size: 1.7rem;
  text-align: center;
   width:350px;
}
    .card:nth-child(2)>.card-inner::after{
  content:"고객 요청, 이메일, 채팅 데이터를 실시간으로 분류하고\A 우선순위를 자동 지정합니다. \A 단순 반복 응답은 챗봇과 연동되고,\A 담당자에게 필요한 건 자동으로 할당됩니다.";
  font-size: 0.8rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
   width:350px;
  font-weight: 100;
  top:65%;
}

.card:nth-child(3)>.card-inner::before{
  content:"Save time.\A Report accurately.";
  text-align: center;
  white-space:pre;
  font-size: 1.7rem;
   width:350px;
  color:#fff;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.7);
}
    .card:nth-child(3)>.card-inner::after{
  content:"다양한 사내 시스템과 연동되어 데이터를 \A 자동 수집하고,시각화된 리포트를 생성합니다. \A매일 아침 대시보드에 자동으로 최신 데이터가 반영됩니다.";
  font-size: 0.8rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  font-weight: 100;
   width:350px;
  top:65%;
}
}

/*메인페이지 3*/
.section-3{
  height: 120vh;
}

.impact-section {
  position: relative;
  overflow: hidden;
  padding: 100px 20px;
  text-align: center;
  z-index: 1;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color:#fff;
}

.section-subtitle {
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 60px;
  font-weight: 300;
}
.compare{
  color:#fff;
  font-weight: 400;
}
.before > p:first-child, .after > p:first-child{
  font-weight: 700;
}
.before {
  padding-bottom: 10px;
}
.impact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

.impact-card {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #333;
  transition: transform 0.3s;
  cursor: default;
}

.impact-card:hover {
  transform: translateY(-5px);
}

.impact-card h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #88aaff;
}

.impact-card p {
  font-size: 0.95rem;
  color: #dddddd;
}

/* 배경 그래프 */
  .graph-svg-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.3;
    pointer-events: none;
  }

  .graph-svg-bg svg {
    width: 100%;
    height: 100%;
    fill: none;
  }

  .graph-svg-bg polyline {
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    transition: stroke-dashoffset 2s ease-out;
  }

  .line1 { stroke: #6479f6; }
  .line2 { stroke: #8a9bf9; }
  .line3 { stroke: #c0c9ff; }

  .graph-animate .graph-svg-bg polyline {
    stroke-dashoffset: 0;
  }
  @media (1200px > width > 767px) {
    .section-title{
      font-size: 2rem;
    }
    .section-subtitle{
      font-size: 1.2rem;
    }
    .impact-grid {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}
  }
    @media (768px > width > 480px) {
    .section-title{
      font-size: 1.5rem;
    }
    .section-subtitle{
      font-size: 1.1rem;
    }
    .impact-grid {
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
}
.impact-card h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #88aaff;
}

.impact-card p {
  font-size: 0.7rem;
  color: #dddddd;
}
  }
  
   @media (481px > width) {
    .section-3{
    }
    .section-title{
      font-size: 1.4rem;
    }
    .section-subtitle{
      display: none;
    }
    .impact-grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.compare{
  display: flex;
  justify-content: space-around;
}
.impact-card h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #88aaff;
}

.impact-card p {
  font-size: 0.7rem;
  color: #dddddd;
}
  }
  /*섹션 4 history*/
  .section-4{
    min-height: 100vh;
  }
  .timeline-section {
min-height: 100vh;
color: white;
position: relative;
}
.history-background{
  position: absolute;
  z-index: -1;
  width:100%;
  height: 100%;
}
.history-background>p{
  position: absolute;
  z-index: -1;
  font-size: 6rem;
  color:#212121;
  top:25%;
  left:50%;
  transform: translateX(-50%);
}
.swiper {
width: 100%;
height: auto;
position: relative;
}
.swiper-slide {
  height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: relative;
cursor: default;
}
.swiper-slide::before {
content: "";
width: 100%;
height: 1px;
background-color: #999;
position: absolute;
top: 40%;
}

.year {
min-width: 1200px;
display: flex;
height: 80px;
justify-content: space-around;
align-items: center;
margin: 80px 0 50px 0;
}

.year > span {
font-size: 2.5rem;
font-weight: bold;
margin-bottom: 10px;
position: relative;
}

.history-wrap {
display: flex;
min-width: 1200px;
height: 250px;
align-items: center;
justify-content: space-around;
}
.history {
padding-top: 30px;
width: 550px;
height: 250px;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
list-style: inside;
list-style-type: square;
text-align: center;
}

.history > li {
font-size: 1.5rem;
color: #999999;
line-height: 30px;
}
.RPA{
  font-size: 1.2rem;
}
.swiper-slide-4> .year, .swiper-slide-4 > .history-wrap{
margin-left: -500px;
}
.swiper-slide-4::before {
width: 30%;
left:0;
transition: width 2s ease-out;
}
.swiper-slide-4.active::before{
width:100%;
}
.arrow-group{
  position: absolute;
  height: 100px;
  width:100%;
  top:50%;
  transform: translateY(-40%);
  z-index: 20;
}
.arrow{
  display: inline-block;
  width:30px;
  height: 30px;
position: absolute;
z-index: 20;
}
.arrow:hover{
  border-color: #6479f6;
}
.prev-arrow{
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  transform: rotate(-45deg);
  left:3%;
}
.next-arrow{
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  transform: rotate(45deg);
  right:3%;
}
@media (width > 480px) {
  .mobile-history{
  display: none;
}
}
 @media (1200px > width > 767px) {
  .section-3{
    height: 100vh;
  }
  .swiper-slide::before {
top: 43%;
}
.year {
min-width: 700px;
}
.year > span {
font-size: 2rem;
}
.history-wrap {
min-width: 700px;
}
.history {
width: 330px;
height: 250px;
}

.history > li {
  width:330px;
font-size: 1rem;
}
.RPA{
  font-size: 0.7rem;
}
.swiper-slide-4> .year, .swiper-slide-4 > .history-wrap{
  min-width:330px;
margin-left: -250px;
}
 }
 @media (768px > width > 480px) {
  .section-3{
    height: 100vh;
  }
  .swiper-slide::before {
top: 44%;
}
.year {
min-width: 450px;
}
.year > span {
font-size: 1.7rem;
}
.history-wrap {
min-width: 450px;
}
.history {
width: 220px;
height: 250px;
}

.history > li {
  width:220px;
font-size: 0.65rem;
}
.RPA{
  font-size: 0.5rem;
}
.swiper-slide-4> .year, .swiper-slide-4 > .history-wrap{
  min-width:220px;
margin-left: -150px;
}
 }
  @media (481px > width){
    .swiper{
      display: none;
    }
    .arrow-group{
      display: none;
    }
    .section-3{
    height: 100vh;
  }
    .section-4{
    min-height: 100vh;
  }
  .history-background{
    display: none;
  }
  .mobile-history-wrap{
    display: flex;
    flex-direction: column;
    position: relative;
  }
   .mobile-history-wrap::after{
    content:"";
    position: absolute;
    top:140px;
    left:20px;
    width:1px;
    height: calc(100% - 130px);
    background-color: #999;

   }
  .mobile-history-wrap >.title{
    text-align: center;
    font-size: 2.7rem;
    margin: 40px 0;
  }
  .history-box{
    width:310px;
    margin:20px 30px;
    padding:5px;
  }
  .mb-year>span{
    font-size: 1.5rem;
    color:#dddddd;
    position: relative;
   }
   .mb-year>span::after{
    content:"";
    height: 1px;
    width:85px;
    background-color:#999;
    position: absolute;
    bottom:-15%;
    left:-15px;
   }
   .mb-history{
    margin-top: 10px;
   }
   .mb-history>li{
    font-size: 0.9rem;
    color:#dddddd;
    font-weight: 100;
   }
   .RPA{
    font-size: 0.8rem;
   }
  }
/*푸터*/
 .footer {
  width: 100%;
  height: 120px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .footer-container {
    min-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .footer-logo {
    height: 80px;
    width:150px;
    overflow: hidden;
  }
  .footer-logo > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .footer-info {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #666;
    display: flex;
    padding:0 50px;
  }
    .footer-info>p{
      padding: 0 15px;
    }
 @media (1200px > width > 767px) {
  .footer-container {
    min-width: 700px;
  }
  .footer-info {
    font-size: 0.7rem;
    flex-direction: column;
  }
  }
   @media (768px > width > 480px) {
  .footer-container {
    min-width: 450px;
  }
  .footer-info {
    font-size: 0.5rem;
    flex-direction: column;
    padding:0px;
  }
   .footer-logo {
    height: 60px;
    width:130px;
    overflow: hidden;
  }
  }
   @media (481px > width) {
      .footer-container {
    min-width: 350px;
  }
  .footer-info {
    font-size: 0.5rem;
    flex-direction: column;
    padding:0px;
  }
   .footer-logo {
    height: 60px;
    width:130px;
    overflow: hidden;
  }

   }
  /*모바일 반응형*/
   /* @media (481px > width) {
      .main-wrap {
              height: 100vh;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
      scroll-behavior: smooth;
      }

      .section-1, .section-3, .sectoin-4 {
       height: 100vh;
      }
      
      .section{
           scroll-snap-align: start;
      }
    } */